<!DOCTYPE html>
<html>
	{% load static %}
<head>
	<title>Friends</title>
</head>
<body>
	<div class="friend_requests">
		<h3>Friend requests:</h3>
		{% for friend_request in friend_requests %}
			{{ friend_request.sender }}
			<form class="friend_request_form" action="accept_friend_request/{{ friend_request.id }}" method="post">
				{% csrf_token %}
				<input type="hidden" name="request_id" value="{{ friend_request.id }}" method="post">
				<button type="submit" class="accept-button" data-user-id="{{ friend_request.id }}">Accept</button>
			</form>
			<form class="friend_request_form" action="decline_friend_request/{{ friend_request.id }}" method="post">
				{% csrf_token%}
				<input type="hidden" name="request_id" value="{{ friend_request.id }}" method="post">
				<button type="submit" class="decline-button" data-user-id={{ friend_request.id}}>Decline</button>
			</form>
		{% endfor %} 
		</br>
	</div>
	<span id="successMsg" style="color: green;"></span>
	<span id="declineMsg" style="color: red"></span>
	<div class="all_users">
		<h3>All Users:</h3>
		{% for user in users %}
		{% if not user.is_superuser %}
		{% if user not in request.user.friends.all and user != request.user%}
		<ul>
			<form class='friend_request_send' action="send_friend_request/{{ user.user_id }}" method="post">
							{% csrf_token %}
							<li/><input type="hidden" id="value" name="request_id" value="{{ user.user_id }}">
							{{ user }} <button type="submit" class='add_friend-button' data-user-id="{{ user.user_id }}">Add friend</button><br>
						</form>
					</ul>
				{% endif %}
			{% endif %}
		{% endfor %}
	</div>
	<span id="friend-request-sent" style="color: green;"></span> 
	<span id="alreadySent" style="color: red;"></span>
	<div class="friends">
		<h3>My friends:</h3>
		{% for user in request.user.friends.all%}
			<div class="user-details">
				<span style="cursor: pointer; text-decoration: underline; color: blue;"> {{ user.username }} </span>
				<a class="user_id" style="display: none" data-user-id="{{ user.user_id }}"></a>
				{% if user.is_online %}
					<img src="{% static 'images/online.png' %}" width="22"/>
					<a>Online</a>
				{% elif user.last_online %}
					<img src="{% static 'images/last_online.png' %}" width="22"/>
					<a>{{ user.get_online_info }} </a>
				{% endif %}
				<div class="user-info" style="display: none"></div>
			</div>
		{% endfor %}
	</div>
<script type='module' src="{% static '/js/friend_request.js' %}"></script>
</body>
</html>