<!DOCTYPE html>
<html>
    {% load static %}
<head>
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>
    <form method="post" id="loginForm">
        {% csrf_token %}
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <span id="errorMsg" style="color: red;"></span>
        </form>
        <div>
            <button class="btn-sm btn-dark"id="loginBtn">Login</button>
        </div>
        <p>Forgot your password? <a onclick="changeURL('/register', 'Registration Page', { Register: true });">Reset it</a></p>
        <div>
            Don't have an account?
            <a onclick="changeURL('/register', 'Registration Page', { Register: true });">
                <button class="btn-dark">
                    Register
                </button>
            </a>
        </div>
    <script type='module' src="{% static 'js/login.js' %}"></script>
    <script type='module' src="{% static 'js/app.js' %}"></script>
</body>
</html>
