{% load static %}
    <h2>Register</h2>
    <form method="post" id="registerForm">
        {% csrf_token %}
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <span id="errorMsg" style="color: red;"></span>
            <span id="successMsg" style="color: green;"></span>
        </div>
    </form>
    <div>
        <button id="registerBtn" class="btn-sm btn-dark" >Register</button>
    </div>
    Already have an account?
	<button class= "btn-dark" onclick="changeURL('/login', 'Login', {page: 'login'})">Login</button>
    <script type="module" src="{% static 'js/register.js' %}"></script>
