{% load static %}
<h1>Temporary game page</h1>
<div class="temp">
<form action="">
  <label for="matchId">Game ID</label><br>
  <input type="text" id="matchId" value="abcdef01"><br><br>
  <label for="PlayerId">First Player</label><br>
  <input type="text" id="playerId1" name="playerId1" value="John Johnson"><br>
  <label for="score" >Score first player</label><br>
  <input type="number" id="score1" value="0" min="0">
  <br>
  <br>
  <label for="PlayerId2">Second Player</label><br>
  <input type="text" id="playerId2" name="playerId2" value="Gyom Baguette"><br>
  <label for="score" >Score second player</label><br>
  <input type="number" id="score2" value="0" min="0"><br><br>
</form>
<button class="btn-dark" id="resultBtn">Sending results</button></div>
<script type='module' src="{% static 'js/game/tmpGame.js' %}"></script>