#chat-window{
	display: grid;
	justify-content: center;
	width: 65vw;
	height: 50vh;
	/* background-color: grey; */
	overflow: auto;
	margin-bottom: 5px;
	border-radius: 10px;
	border: 1px solid black;
	font-size: calc(10px + 0.5vw);
	/* padding-top: 10px; */
}

@media (max-width: 600px) {
    #chat-window {
        font-size: 13px; /* Set a fixed font size for small viewports */
    }
}

#chat-input{
	margin-top: 10px;
	display: flex;
	width: 65vw;
}

#chat-button{
	margin-left: 5px;
	padding-left: 20px;
	padding-right: 20px;
}

input[type="text"]{
	flex-grow: 1;
}